html, body{
	height: 100%;
	min-height: 100%;
}

body{
	width: 1024px;
	margin: 0 auto;
	background-color: #f1f1f1;
	position: relative;
}

.metroContentor{
	position: absolute;
	bottom: 150px;
	width: 1024px;
	height: 556px;
	overflow: hidden;
}

.metroFilme{
	position: absolute;
	width: 50000px;
	height: 556px;
}

.metroItem{
	float: left;
}

.metroItem img{
	display: block;
}
